<section class="container editar-pensamentos ff-inter">
    <header class="header">
        <h2>Adicione um <br> Novo Pensamento:</h2>
    </header>

    @if (formulario){ 
    <form [formGroup]="formulario">
        <label for="pensamento">Pensamentos e Anotações</label>
        <input
        type="text"
        class="input" 
        id="pensamento"
        formControlName="conteudo"
        placeholder="Digite um pensamento ou anotação..."
        >

        @if (formulario.get('conteudo')?.errors && formulario.get('conteudo')?.touched) {
        <div class="mensagem__erro">
        Preencha o campo!
        </div>
        }

        <label for="autoria">Autor ou fonte</label>
        <input 
        type="text" 
        class="input" 
        id="autoria"
        formControlName="autoria"
        placeholder="Digite o autor ou fonte..."
        >
        
         @if (formulario.get('autoria')?.errors?.['required'] && formulario.get('autoria')?.touched) {
        <div class="mensagem__erro">
        A autoria é obrigatória!
        </div>
        }
    
        <label for="modelo">Selecione o Modelo do Card:</label>

        <div class="container-radio">
            
           <div class="radio-modelo">
        <label for="modelo1">
            <input type="radio" 
            id="modelo1" 
            value="modelo1" 
            formControlName="modelo">

            <div class="custom-radio"><span></span></div>
            <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
            <img src="/imagens/modelo1.png" alt="modelo1">
            <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
            <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
            
        </div>
    </div>

    <div class="radio-modelo">
        <label for="modelo2">
            <input type="radio" 
            id="modelo2" 
            value="modelo2" 
            formControlName="modelo"
            >

            <div class="custom-radio"><span></span></div>
            <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
            <img src="/imagens/modelo2.png" alt="modelo2">
            <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
            <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
            
        </div>
    </div>

    <div class="radio-modelo">
        <label for="modelo3">
            <input type="radio" 
            id="modelo3" 
            value="modelo3" 
            formControlName="modelo"
            >
            
            <div class="custom-radio"><span></span></div>
            <span>Modelo 3</span>
        </label>
        Prévia
        <div class="modelo modelo3 ff-roboto-mono">
            <img src="/imagens/modelo3.png" alt="modelo3">
            <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
            <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
            
        </div>
    </div>

</div>
        <div class="acoes">
        <button (click)="cancelar()" class="botao">Cancelar</button>

        <button 
        [disabled]="!formulario.valid"
        (click)="editarPensamento()"
        [ngClass]="habilitarBotao()"
    >
        Salvar
    </button>
    </div>
    </form>
}
</section>