<section class="container">
  <header class="header d-flex">

    <div class="buscar-pensamentos">
      <input
      type="search"
      class="filtro"
      placeholder="O que você busca?"
      autofocus
      [(ngModel)]="filtro"
      (input)="pesquisarPensamentos()"
      >

      <img src="/imagens/lupa.png" alt="lupa azul">

    </div>
    <h2 class="ff-inter" style="position: static; width: auto; height: auto; overflow: visible; display: block;">
    {{ titulo }}
    </h2>

    <div class="botoes">
      <button class="botao"(click)="recarregarMural()">Meu Mural</button>
      <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
      <button routerLink="/criarPensamento" class="botao">Novo pensamento</button>
    </div>
  </header>

  <div class="mural">
    @for (pensamento of listaPensamentos; track pensamento.id) {
      <app-pensamento 
      [pensamento]="pensamento"
      [listaFavoritos]="listaFavoritos"
      ></app-pensamento>
    } @empty {
      <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos Cadastrados!</p>
      </div>
    }
  </div>

    @if (listaPensamentos.length > 0){
    <app-botao-carregar-mais 
    [haMaisPensamentos]="haMaisPensamentos"
    (aoClicar)="carregarMaisPensamentos()"
    ></app-botao-carregar-mais>
  }
</section>


