.acoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.acoes button img{
  width: 1.8rem;
  height: auto;
}

.botao-editar,
.botao-excluir,
.botao-favorito {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 15px;
  padding: 0;
}

.pensamento {
  background-color: #F8F9FE;
  padding: 1rem;
  box-sizing: border-box;
}

.pensamento .conteudo {
  margin: 1rem auto;
  word-wrap: break-word;
}

.pensamento .autoria {
  word-wrap: break-word;
}

.modelo1 {
  box-shadow: 8px 8px 0px #154580;
}

.modelo2 {
  box-shadow: 8px 8px 0px #6BD1FF;
}

.modelo3 {
  box-shadow: 8px 8px 0px #448b6e;
}

.pensamento-g {
  width: 556px;
}

.pensamento-p {
  width: 262px;
}

@media screen and (max-width: 768px) {
  .pensamento-g {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .pensamento-p {
    width: 100%;
  }
}

